.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    /* "em" tamanho da fonte base, neste caso, estamos usando 2 vezes esse tamanho base */
    margin: 0 0 1em;
    clear: left;
    /* clear: left, limpa o float a esquerda, para não exercer efeitos mais a partir desta linha */
}

.titulo-principal:first-letter {
    font-weight: bold;
}

.titulo-principal:before {
    content: "[ ";
}

.titulo-principal:after {
    content: " ]";
}

p:first-line {
    font-style: italic;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "🟊";
}

.itens:nth-child(2n) {
    font-weight: bold;
}

/* No CSS temos algo chamado pseudo-elementos. 
Conhecemos alguns deles, como :hover, :active, :visited, :required. 
Tais recursos são utilizados para marcar melhor nossos elementos e 
gerar um comportamento mais interessante em nosso site. */

.imagem-beneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}